@font-face {
    font-family: 'PT Sans Narrow';
    font-weight: 700;
    src: url("../fonts/PTN77F.ttf");
}

@font-face {
    font-family: 'PT Sans Narrow';
    font-weight: 400;
    src: url("../fonts/PTN57F.ttf");

}

@import "./pages/page.scss";
@import "./adaptive/adaptive.scss" ;
