@import "./test/test.scss";



$color: rgb(97, 97, 97); 


@font-face {
    font-family: 'PT Sans Narrow';
    font-weight: 700;
    src: url("../fonts/PTN77F.ttf");
}

@font-face {
    font-family: 'PT Sans Narrow';
    font-weight: 400;
    src: url("../fonts/PTN57F.ttf");

}

*{
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow';
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

header {
    height: 930px;
    color: #fff;
    background-image: url("../img/Rectangle\ 9.png");
    background-position: top ;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1210px;
    height: 156px;
    background-image: url("../img/dark.png");
    background-repeat: no-repeat;
    background-size: 168px 31px;
    background-position: center;


    .navigation__list {
        display: flex;
        margin: 0px;
        padding-left: 19px;

        li {
            font-size: 15px;
            display: inline;
            padding: 10px;
        }
    }
    
    .navigation__logo {
        width: 168px;
        height: 32px;
    }


   

    .navigation__social {
        display: flex;


        li {
            a {
            font-size: 0px;
            display: inline;
            padding: 10px;
            }
        }
    }

}
