h1 {
  color: white; }

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 700;
  src: url("../fonts/PTN77F.ttf"); }

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 400;
  src: url("../fonts/PTN57F.ttf"); }

* {
  box-sizing: border-box; }

body {
  font-family: 'PT Sans Narrow';
  font-weight: 400;
  margin: 0px;
  padding: 0px; }

header {
  height: 930px;
  color: #fff;
  background-image: url("../img/Rectangle 9.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1210px;
  height: 156px;
  background-image: url("../img/dark.png");
  background-repeat: no-repeat;
  background-size: 168px 31px;
  background-position: center; }
  .navigation .navigation__list {
    display: flex;
    margin: 0px;
    padding-left: 19px; }
    .navigation .navigation__list li {
      font-size: 15px;
      display: inline;
      padding: 10px; }
  .navigation .navigation__logo {
    width: 168px;
    height: 32px; }
  .navigation .navigation__social {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .navigation .navigation__social li {
      height: 41px; }
      .navigation .navigation__social li a {
        display: block;
        font-size: 0px;
        width: 41px;
        height: 41px;
        margin-left: 12px;
        margin-right: 12px; }

.header__slogan {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 74px;
  line-height: 75px;
  text-align: center;
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

.header__subtitle {
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 40px;
  max-width: 550px; }

.header__subscribe {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  padding-top: 18px;
  margin-top: 100px;
  width: 263px;
  height: 65px;
  background-color: #2091F9;
  border-radius: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

.features {
  padding-top: 115px;
  padding-bottom: 60px; }
  .features .features__title {
    margin: 0px;
    font-size: 48px;
    font-weight: 400;
    text-align: center; }
  .features .features__subtitle {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 400px; }

.aside-list {
  display: flex;
  justify-content: space-between;
  max-width: 869px;
  margin: 0 auto; }
  .aside-list .aside-list__section {
    margin-left: 10px;
    margin-right: 10px; }
    .aside-list .aside-list__section svg {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0); }
    .aside-list .aside-list__section h3 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      margin: 0 auto;
      margin-top: 20px;
      max-width: 200px;
      text-align: center; }
      .aside-list .aside-list__section h3:nth-child(2) {
        margin-top: 0px; }
    .aside-list .aside-list__section p {
      text-align: center;
      margin: 0px;
      margin-top: 20px;
      max-width: 200px; }

.fastest {
  display: flex;
  max-width: 1243px;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px; }
  .fastest .fastest__left {
    max-width: 400px;
    height: auto;
    position: relative; }
    .fastest .fastest__left .fastest__title {
      font-size: 48px;
      line-height: 55px;
      max-width: 335px;
      margin: 0px; }
    .fastest .fastest__left .fastest__subtitle {
      font-size: 28px;
      line-height: 40px;
      margin-top: 20px;
      margin-bottom: 0px; }
    .fastest .fastest__left .fastest__link {
      display: inline-block;
      text-align: center;
      font-size: 20px;
      padding-top: 16px;
      width: 236px;
      height: 60px;
      border-radius: 50px;
      background-color: #2091F9;
      color: #fff;
      position: absolute;
      bottom: 10px; }

.partners {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .partners .partners__title {
    font-size: 48px;
    font-weight: 400;
    margin: 0px; }
  .partners .partners__subtitle {
    font-size: 28px;
    text-align: center;
    line-height: 40px;
    max-width: 400px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 80px; }
  .partners .partners__row {
    display: flex;
    align-items: center; }
    .partners .partners__row div img {
      max-width: 100%;
      max-height: 100%; }
  .partners .partners__try {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background-color: #2091F9;
    color: #fff;
    margin-top: 80px;
    padding-top: 16px;
    width: 236px;
    height: 60px;
    border-radius: 50px; }

.respond {
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .respond .respond__title {
    margin: 0px;
    font-size: 48px;
    font-weight: 400; }
  .respond .respond__logo {
    width: 150px;
    height: 60px;
    margin-top: 80px;
    margin-bottom: 50px; }
  .respond .respond__subtitle {
    font-size: 28px;
    line-height: 40px;
    margin: 0px;
    max-width: 720px;
    text-align: center; }
  .respond .respond__list {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background-color: #2091F9;
    color: #fff;
    margin-top: 80px;
    padding-top: 16px;
    width: 276px;
    height: 60px;
    border-radius: 50px; }

.responder {
  width: 186px;
  height: 55px;
  margin-top: 50px;
  padding-left: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative; }
  .responder p {
    margin: 0px;
    font-size: 16px; }
  .responder span {
    font-size: 15px; }
  .responder::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    background-image: url("../img/avatar.png");
    background-position: center; }

.pricing {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #252B42;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .pricing .pricing__title {
    font-size: 48px;
    font-weight: 400;
    margin: 0px; }
  .pricing .pricing__subtitle {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    max-width: 400px;
    text-align: center; }

.pricing__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1030px; }
  .pricing__list .free {
    width: 25.242%;
    height: 607px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    position: relative; }
    .pricing__list .free .free__title {
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0px; }
    .pricing__list .free .free__subtitle {
      font-size: 16px;
      max-width: 120px;
      text-align: center;
      margin: 0px; }
    .pricing__list .free .free__price {
      font-size: 16px;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px; }
      .pricing__list .free .free__price::after {
        position: absolute;
        content: "$";
        font-size: 20px;
        font-weight: 700;
        left: 40px;
        top: 25px; }
      .pricing__list .free .free__price span {
        font-size: 74px;
        font-weight: 700;
        margin-right: 5px; }
    .pricing__list .free .free__lists {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px; }
    .pricing__list .free .free__buy {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      bottom: 40px;
      width: 180px;
      height: 56px;
      border-radius: 50px;
      background-color: #2091F9;
      color: #fff; }
  .pricing__list .standart {
    width: 32.524%;
    height: 693px;
    background-color: #2091F9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    position: relative; }
    .pricing__list .standart .standart__title {
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0px; }
    .pricing__list .standart .standart__subtitle {
      font-size: 16px;
      max-width: 120px;
      text-align: center;
      margin: 0px; }
    .pricing__list .standart .standart__price {
      font-size: 16px;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px; }
      .pricing__list .standart .standart__price::after {
        position: absolute;
        content: "$";
        font-size: 20px;
        font-weight: 700;
        left: 75px;
        top: 25px; }
      .pricing__list .standart .standart__price span {
        font-size: 74px;
        font-weight: 700;
        margin-right: 5px; }
    .pricing__list .standart .standart__lists {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px; }
    .pricing__list .standart .standart__buy {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      bottom: 80px;
      width: 180px;
      height: 56px;
      border-radius: 50px;
      background-color: #ffffff;
      color: #2091F9; }
  .pricing__list .business {
    width: 32.524%;
    height: 607px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    position: relative; }
    .pricing__list .business .business__title {
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0px; }
    .pricing__list .business .business__subtitle {
      font-size: 16px;
      max-width: 120px;
      text-align: center;
      margin: 0px; }
    .pricing__list .business .business__price {
      font-size: 16px;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px; }
      .pricing__list .business .business__price::after {
        position: absolute;
        content: "$";
        font-size: 20px;
        font-weight: 700;
        left: 75px;
        top: 25px; }
      .pricing__list .business .business__price span {
        font-size: 74px;
        font-weight: 700;
        margin-right: 5px; }
    .pricing__list .business .business__lists {
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px; }
    .pricing__list .business .business__buy {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      bottom: 40px;
      width: 180px;
      height: 56px;
      border-radius: 50px;
      background-color: #2091F9;
      color: #fff; }
