h1 {
  color: white; }

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 700;
  src: url("../fonts/PTN77F.ttf"); }

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 400;
  src: url("../fonts/PTN57F.ttf"); }

* {
  box-sizing: border-box; }

body {
  font-family: 'PT Sans Narrow';
  font-weight: 400;
  margin: 0px;
  padding: 0px; }

header {
  height: 930px;
  color: #fff;
  background-image: url("../img/Rectangle 9.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1210px;
  height: 156px;
  background-image: url("../img/dark.png");
  background-repeat: no-repeat;
  background-size: 168px 31px;
  background-position: center; }
  .navigation .navigation__list {
    display: flex;
    margin: 0px;
    padding-left: 19px; }
    .navigation .navigation__list li {
      font-size: 15px;
      display: inline;
      padding: 10px; }
  .navigation .navigation__logo {
    width: 168px;
    height: 32px; }
  .navigation .navigation__social {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .navigation .navigation__social li {
      height: 41px; }
      .navigation .navigation__social li a {
        display: block;
        font-size: 0px;
        width: 41px;
        height: 41px;
        margin-left: 12px;
        margin-right: 12px; }

.header__slogan {
  display: inline-block;
  margin-bottom: 0px;
  font-size: 74px;
  line-height: 75px;
  text-align: center;
  max-width: 600px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

.header__subtitle {
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 40px;
  max-width: 550px; }

.header__subscribe {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  padding-top: 18px;
  margin-top: 100px;
  width: 263px;
  height: 65px;
  background-color: #2091F9;
  border-radius: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }
