h1 {
  color: white; }

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 700;
  src: url("../fonts/PTN77F.ttf"); }

@font-face {
  font-family: 'PT Sans Narrow';
  font-weight: 400;
  src: url("../fonts/PTN57F.ttf"); }

* {
  background-color: #883d3d;
  font-family: 'PT Sans Narrow';
  font-weight: 400; }
